body {
    width: 650px;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

table {
    width: 100%;
}

#content {
    height: 400px;
    overflow: scroll;
    word-wrap: break-word;

}

hr {
    margin: 0.25rem auto
}

.container {
    position: relative;
}

.dict-direction {
    position: absolute;
    top: 0;
    right: 0;
}

button#tureng {
    background-color: rgb(155, 10, 25);
}

button#tdk {
    background-color: #0078D7;
}

button#eksi {
    background-color: #63b655;
    padding: 2px 10px;
}
button#eksi img {
    max-height: 34px;
}


#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

#footer img {
    max-height: 34px;
}

.auth_info {
    font-size: 70%;
}