
    /*  windows phone 8 style loading indicator
        credit: http://thecodeplayer.com/walkthrough/windows-phone-loading-animation
     */

    .pleaseWait span {
      display: block;
      margin: 0 auto;
    }

    .pleaseWait span[class*="l-"] {
      height: 4px;
      width: 4px;
      background: #000;
      display: inline-block;
      margin: 12px 2px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-animation: loader 4s infinite;
      -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      -webkit-animation-fill-mode: both;
      -moz-animation: loader 4s infinite;
      -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      -moz-animation-fill-mode: both;
      -ms-animation: loader 4s infinite;
      -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      -ms-animation-fill-mode: both;
      animation: loader 4s infinite;
      animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
      animation-fill-mode: both;
    }

    .pleaseWait span.l-1 {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
      -ms-animation-delay: 1s;
      -moz-animation-delay: 1s;
    }

    .pleaseWait span.l-2 {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
      -ms-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
    }

    .pleaseWait span.l-3 {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      -ms-animation-delay: 0.6s;
      -moz-animation-delay: 0.6s;
    }

    .pleaseWait span.l-4 {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
      -ms-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
    }

    .pleaseWait span.l-5 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
      -ms-animation-delay: 0.2s;
      -moz-animation-delay: 0.2s;
    }

    .pleaseWait span.l-6 {
      -webkit-animation-delay: 0;
      animation-delay: 0;
      -ms-animation-delay: 0;
      -moz-animation-delay: 0;
    }

    @-webkit-keyframes loader {
      0% {
        -webkit-transform: translateX(-30px);
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      50% {
        -webkit-transform: translateX(30px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @-keyframes loader {
      0% {
        -transform: translateX(-30px);
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      50% {
        -transform: translateX(30px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
